*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei';    
}

#header{
  position: fixed;
  top: 0;
}

#body{
  margin-top: 140px;
}

.router-link {    
  color: inherit;  /* 繼承父元素顏色 */
  text-decoration: none ;  /* 去除下劃線 */
}

.header{
    background-color: rgb(241, 198, 178);
    display: flex;
    padding:5px 5%;
    align-items: center;
    justify-content:space-between;
    height: 75px;
}

.logo{
    width: 30%;
}

.login_register{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 22px;
    margin: 10px;
    display: flex;
}

.personal {
  width: 400px;
  display: flex;
  justify-content: center;
  background-color: #FAF3F0;
  color: #936766;
  border-radius: 10px;
  padding: 10px 35px 10px 15px;
  transition: background-color 0.3s ease;
}

.personal:hover {
  background-color: #FEFFDA;
}

.personal-content {
  display: flex;
  align-items: center;
}

.personal-content img {
  width: 24px;
  height: 24px;
  margin-right: 8px; 
}

.personal-content p {
  margin: 0;
  font-size: 18px;
  font-weight: bolder;
  white-space: nowrap;
  
}

.header_link{
  color: inherit;  /* 繼承父元素顏色 */
  text-decoration: none;  /* 去除下劃線 */
  width: 80px;
}


.nav{
    background-color: rgb(250, 229, 215);
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    font-weight: bold;
    font-size: 22px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05); 
    height: 65px;
}

.nav>ul{
    display: flex;
    width: 100%;
}

.nav>ul>li{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    position: relative;
}

.nav>ul>li:hover{
    background-color: rgb(255, 250, 209);   
}
.at:hover{
  background-color: aliceblue !important;
}

.at{
  background-color: aliceblue;
}



.nav>ul>li a{
    color: rgb(149, 96, 96);
    width: 100%;
}

.nav img{
    width: 30px; 
    height: 30px; 
}

.nav a{
    width: 90px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}



/* 下拉選單樣式 */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #faf2ee;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: #b76e61;
    font-size: 20px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .dropdown-menu {
    display: none !important; 
  }
  .dropdown:hover .dropdown-menu {
    display: block !important;
  }
  .dropdown:hover .dropdown-menu {
  display: block !important; 
  }
  .dropdown-menu:hover {
    display: block !important;
  }

  .drop:hover{
    background-color: rgb(253, 251, 238);
  }

  footer{
    padding: 15px;
    background-color: rgb(241, 198, 178);
  }

  footer>p{
    color: white;
    font-weight: bold;
    text-align: center;
  }