#body{
    background-color: #fffdee;
}

.router-link {    
  color: inherit;  /* 繼承父元素顏色 */
  text-decoration: none ;  /* 去除下劃線 */
}

h1{
    font-weight: bold;
    color: rgb(149, 96, 96);
    padding:50px 10% 0 8%;
}

.page{
    display: flex;
    justify-content: end;
    margin-right: 10%;
  }

  .title_login{
    background-color: #f4d5ce;
    padding: 15px 40px;
    margin:0 0 0  50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: rgb(133, 116, 102);
    
  }

  .register{
    background-color: rgb(250, 235, 221);
  }

  .register:hover{
    background-color: rgb(248, 218, 173);
  }

  .div{
    display: flex;
    justify-content: center;
  }

  .content{
    background-color: white;
    border: 4px solid #f0dad6;
    margin-bottom: 100px;
    width: 90%;
    border-radius: 30px;
    
  }

  .form{
    padding:80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3{
    font-size: 24px;
    color: #a07067;
  }

  .account{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .account h3{
    width: 190px;
    text-align: end;
  }

  .text{
    width: 40%;
    padding: 15px;
    margin:0 15px;
    border:solid 1.5px #edd6cb;
    border-radius: 8px;
    font-size: 20px;
}



.button{
    font-size: 22px;
    width: 150px;
    margin: 15px;
    padding:15px 10px ;
    text-decoration: none;
    background-color: rgb(243, 195, 195);
    color: #ffffff;
    font-weight: bolder;
    border: 0;
    border-radius: 10px;    
}

.button:hover{
    background-color: rgb(237, 183, 146);
}

.link {
  /* 清除預設樣式 */
  color: inherit;  /* 繼承父元素顏色 */
  text-decoration: none;  /* 去除下劃線 */
  color: #7a524b;
}

.topimg{
width: 100%;
margin-bottom: 50px;
}



.field {
  margin: 30px;
  display: flex;
  justify-items: left;
  align-items: center;
  width: 50%;
}

h4 {
  text-align: right; 
  font-size: 24px;
  color: #a07067;
  width: 150px; 
  margin-right: 20px; 
}

span {
  font-size: 24px;
  color: #936766;
}

input {
  border: 1px solid #d4a59a;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  color: #936766;
  width: 250px;
  background-color: #fff;
}

input[readonly] {
  background-color: #fff;
}

.error {
  color: red;
  font-size: 18px;
  margin-left: 10px;
}
