

.noti_title{
  display: flex;
  align-items: center;
  margin:0px 8%;
  padding: 50px 0;
  justify-content: space-between;
}

h1{
  color: #b56e6e;
  font-size: 30px;
}

.writeQA{
  display: flex;
  justify-content: center;
  margin: 0 auto; 
}

.questionnaire {
  display: flex;
  flex-direction: column;
  width: 100%;        /* 保證問卷區域寬度適應父容器 */
  justify-content: center;
  align-items: center;
}

.question {
  width: 80%;
  padding: 30px;
  margin: 15px;
  border: 4px solid #f2aeae;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 30px;
}

.question-title {
  font-size: 22px;
  font-weight: bold;
  color: #936766;
  margin-bottom: 20px;
}

.options {
  list-style-type: none;
  color: #936766;
  padding-left: 10;
  font-size: 20px;
}

.options li {
  margin: 8px 0;
}

.options input[type="radio"] {
  margin-right: 10px;
}
.sumitQA {
  display: block;
  width: 100px;
  padding: 12px 0;
  font-size: 16px;
  background-color: #F3A7A7;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.sumitQA:hover {
  background-color: #e66b59;
}