*{
  padding: 0px;
  margin: 0px;
  font-family: 'Microsoft JhengHei'; 
  font-weight: bolder;   

}

template{
  background-color: #D3E8EA;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between; /* 將子項目分散到兩端 */
  align-items: center; /* 垂直置中對齊 */
  padding: 10px 20px; /* 上下左右的內邊距 */
  background-color: #D3E8EA; /* 背景顏色 */
}

.header-button {
  display: flex;
}
.button {
  background-color: #8DC1C9; /* 按鈕的初始背景顏色 */
  color: #fff; /* 按鈕文字顏色 */
  border: none; /* 無邊框 */
  font-size: 20px;
  padding: 5px 10px; /* 上下左右的內邊距 */
  margin-left: 10px; /* 按鈕間距 */
  border-radius: 5px; /* 圓角 */
  cursor: pointer; /* 鼠標懸停時顯示手形光標 */
  transition: background-color 0.3s; /* 平滑過渡效果 */
}
.button02 {
  background-color: #b0d8ce; /* 按鈕的初始背景顏色 */
  color: #fff; /* 按鈕文字顏色 */
  border: none; /* 無邊框 */
  font-size: 20px;
  padding: 5px 15px; /* 上下左右的內邊距 */
  margin-left: 10px; /* 按鈕間距 */
  border-radius: 5px; /* 圓角 */
  cursor: pointer; /* 鼠標懸停時顯示手形光標 */
  transition: background-color 0.3s; /* 平滑過渡效果 */
}
.button03 {
  background-color: #b0d8ce; /* 按鈕的初始背景顏色 */
  color: #fff; /* 按鈕文字顏色 */
  border: none; /* 無邊框 */
  font-size: 20px;
  padding: 3px 20px; /* 上下左右的內邊距 */
  margin-left: 10px; /* 按鈕間距 */
  border-radius: 5px; /* 圓角 */
  cursor: pointer; /* 鼠標懸停時顯示手形光標 */
  transition: background-color 0.3s; /* 平滑過渡效果 */
  margin:0 50px;
  box-shadow: 2px 2px 5px rgba(171, 178, 197, 0.8);
}
.button:hover {
  background-color: #EECDAE; /* 懸停時的背景顏色 */
}
.button02:hover {
  background-color: #EECDAE; /* 懸停時的背景顏色 */
}

.link-button {
  text-decoration: none; /* 去除連結的底線 */
  color: inherit; /* 繼承按鈕的文字顏色 */
}

.sidebar {
  width: 18%;
  background-color: #D3E8EA;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.sidebar nav ul {
  list-style: none;
  display: flow-root;
  justify-content: center;
}

.sidebar nav ul li {
  margin-bottom: 15px;
}

.link {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #647F8C;
  text-decoration: none;
  font-size: 22pt !important;
  padding:20px 5px;
  padding-left: 10%;
  border-radius: 5px;
  transition: background-color 0.3s;
  
}

.nolink {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #82776c;
  text-decoration: none;
  font-size: 22pt !important;
  padding:23px 5px 17px 5px;
  padding-left: 10%;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: #F8EFE5;
  color: #8C7364

}

footer .link{
  background-color: #EDF9FA;
  color: #647F8C
}

footer .link:hover{
  background-color: #FBFDE9;
}

.content {
  flex: 1;
  background-color: #fff;
  border-top-left-radius: 15px;
  height: 100vh;
}

h2{
  color: #647F8C;
  font-size: 26pt;
  margin: 30px 0;
  padding-left: 40px;
  background-color: white;
}

.line{
  width: 100%;
  height: 2px;
  background-color: #dce6eb;
}

.main-container{
  display: flex;
}

.color{
  background-color: #82776c !important;
}
.page a{
  text-decoration: none !important;
}
.page{
  background-color: white;
  display: flex;
  justify-content: end;
  margin: 0 30px;
  cursor: pointer; /* 鼠標懸停時顯示手形光標 */
  transition: background-color 0.3s; /* 平滑過渡效果 */
  text-decoration: none !important;
}

.light{
  background-color: rgb(234, 240, 243);
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 0 30px;
  padding: 10px;
  color: rgb(98, 95, 76);
  width: 400px;
  height: 40px;
  border-radius: 15px;
  box-shadow: 5px 5px 2px rgb(168, 177, 172);

}

.light>h1{
  font-size: 24px;
  background-color: rgb(234, 240, 243);
  margin-right: 30px;
}

.page h1{
  margin: 0 10px;
  padding: 10px 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #ffffff;
  background-color: #f1baa2;
  font-size: 24px;
  cursor: pointer; /* 鼠標懸停時顯示手形光標 */
  transition: background-color 0.3s; /* 平滑過渡效果 */
  text-decoration: none !important;
}

.page h1:hover{
  background-color: #f5d39f;
  text-decoration: none;
}

.light-color{
  width: 30px; 
  height: 30px; 
  border-radius:500px; 
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_light{
  display: flex;
  background-color: white;
  border-top-left-radius: 15px;
  align-items: center;
  justify-content: space-between;
}
.title_light02{
  display: flex;
  background-color: white;
  border-top-left-radius: 15px;
  align-items: center;
}