.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  .styled-table th, .styled-table td {
    padding: 20px;
    text-align: left;
    border: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    color: #6e6560;
  }
  .styled-table th {
    background-color: #f5ebde;
    text-align: center;
    padding: 15px 0;
    font-size: 22px;
    color: #92734a;
  }
  
  button {
    margin-right: 5px;
  }

  .odd-row td{
    background-color: #fcf1ec !important;
  }

  tr{
    background-color: #fef1f1;
  }