.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }

  .styled-table th {
    background-color: #f5ebde;
    text-align: center;
    padding: 15px 0;
    font-size: 22px;
    border: 1px solid #ffffff;
    color: #92734a;
  }

  .styled-table td {
    padding: 20px;
    text-align: left;
    border: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-size: 22px;
    color: #6e6560;
  }





  .resource-styled-table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }

  .resource-styled-table th {
    background-color: #f5ebde;
    text-align: center;
    padding: 15px 0;
    font-size: 22px;
    border: 1px solid #ffffff;
    color: #92734a;
  }

  .resource-styled-table td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    color: #6e6560;
  }

  .booknameleft{
    text-align: left !important;
  }


  .video-styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }

  .video-styled-table th {
    background-color: #f5ebde;
    text-align: center;
    padding: 15px 0;
    font-size: 22px;
    border: 1px solid #ffffff;
    color: #92734a;
  }

  .video-styled-table td {
    padding: 20px;
    text-align: left;
    border: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-size: 22px;
    color: #6e6560;
  }






  button {
    margin-right: 5px;
  }

  .odd-row td{
    background-color: #fcf1ec !important;
  }

  tr{
    background-color: #fef1f1;
  }

  .flex{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .tb td{
    text-align: center;
  }